[Desktop Entry]
Name=MAX
Exec=start-max %U
Terminal=false
Type=Application
Icon=ru.max.MAX
StartupWMClass=MAX
Comment=Fast and lightweight app for communication and everyday tasks
Comment[ru]=Быстрое и лёгкое приложение для общения и решения повседневных задач
MimeType=x-scheme-handler/max;
Categories=Network;
